.header{
    background-image: linear-gradient(0, #fe6433, #f53f2d);
    height: 120px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
}

.header__nav-list{
    display: inline-block;
    margin: 5px 0;
    padding: 0;
    list-style-type: none;
}

.header__nav-items{
    display: inline-block;
    font-size: 13px;
    color: #fff;
    font-weight: 100;
    padding: 0 8px;
    position: relative;
    text-decoration: none;
}

.header__nav i{
    margin: 0 2px;
    font-size: 16px;
}

.header__nav-items--bold{
    font-weight: 600;
}

.header__nav-items--separate::after{
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    border-left: #fb9086 solid 1px;
    position: absolute;
    top: 0;
    right: -3px;
}

.header__nav-items--hover:hover{
    opacity: 0.7;
    cursor: pointer;
}

.header__qr{
    display: none;
    position: absolute;
    top: 25px;
    left: 8px;
    padding: 4px;
    background-color: #fff;
    max-width: 200px;
    border: solid 1px #ccc;
}

.qr-hover:hover .header__qr{
    display: inline-block;
    cursor: pointer;
}

.qr-code{
    width: 100%;
}

.header__qr::before{
    content: "";
    display: block;
    width: 204px;
    height: 20px;
    position:absolute;
    top: -19px;
    left: -1px;
}

.download{
    display: inline-flex;
    justify-content: space-around;
}

.app-download{
    width: 40%;
    padding: 0 10px;
}
/* notify header */
.notify{
    border: 1px solid #eee;
    display: none;
    width: 400px;
    position:absolute;
    background-color: #fff;
    right: 8px;
    top: 180%;
    color: #333;
    animation: notifyAnimation ease-in 0.2s;
    transform-origin: calc(100% - 20px) top;
}

.notify--hover:hover .notify{
    display: block;
}

@keyframes notifyAnimation{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.notify::before{
    content: "";
    display: inline-block;
    width: 82px;
    height: 20px;
    position: absolute;
    top: -17px;
    right: -2px;
}

.notify::after{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -32px;
    right: 12px;
}

.notify__header{
    margin-left: 16px;
    opacity: 0.6;
    font-size: 14px;
    font-weight: 200;
}

.notify__body{
    display: flex;
    justify-content: space-around;
    background-color: rgba(246, 65, 45, 0.1);
}

.notify__body-img{
    object-fit:contain;
    width: 48px;
    margin: 12px;
}

.notify__body-content{
    margin-top: 8px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

.notify__body-content h3{
    margin: 0;
    color: #333;
    font-weight: 500;
}

.notify__body-content p{
    margin-top: 4px;
    color: #333;
    opacity: 0.6;
}
.notify__end{
    text-align: center;
    padding: 8px;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
}
.notify__end:hover,
.notify__body:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}